src/main/mule/global/retrieve-consolidate-routesandschedulse-BAPI.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <flow name="retrieve-consolidate-routesandschedulse-exp-api-main">
        <http:listener config-ref="retrieve-consolidate-routesandschedulse-bapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieve-consolidate-routesandschedulse-exp-api-config" />
        <error-handler ref="globalError"/>
    </flow>
    <flow name="retrieve-consolidate-routesandschedulse-exp-api-console">
        <http:listener config-ref="retrieve-consolidate-routesandschedulse-bapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieve-consolidate-routesandschedulse-exp-api-config" />
        <error-handler ref="globalError"/>
    </flow>
    <sub-flow name="retrieve-consolidate-routesandschedulse-BAPISub_Flow" doc:id="f2bc3ab4-ffbf-4d63-bdb0-c50676a005da" >
		<ee:transform doc:name="Transform Message" doc:id="98059bd5-b453-44ef-b2df-fa7a6c911dc3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="companyName" ><![CDATA[
attributes.queryParams.companyName]]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[
attributes.queryParams.departureLocation]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[
attributes.queryParams.destinationLocation]]></ee:set-variable>
				<ee:set-variable variableName="transportType" ><![CDATA[attributes.uriParams.transportType]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="get:\bookings\(transportType)\routes:retrieve-consolidate-routesandschedulse-exp-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="51805a6f-57b9-4284-a980-af77dfa2bad0" name="retrieve-consolidate-routesandschedulse-BAPISub_Flow"/>
        <logger level="INFO" doc:name="Logger" doc:id="345cd5cd-bbc0-4a03-8dcd-838a4fe92cc1" message="request received from routes bapi #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="37417e9a-4a38-4c06-9531-b952cccb74b0" name="getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="aaef0b7b-31e9-49b6-9774-29643a666bee" message="response sent to getroutes bapi #[vars.transactionId]"/>
      
    </flow>
    <flow name="get:\bookings\(transportType)\schedules:retrieve-consolidate-routesandschedulse-exp-api-config" initialState="started">
        <flow-ref doc:name="Flow Reference" doc:id="65acd195-d573-40db-bba1-cc24670c0fa7" name="retrieve-consolidate-routesandschedulse-BAPISub_Flow"/>
        <logger level="INFO" doc:name="Logger" doc:id="82bc8fea-296e-47c1-84cc-e200da504d6b" message="request received fromschedules bapi #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="fb7d28a8-d305-4f1e-b144-05712e9860d4" name="getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="6c376347-f1ce-44fa-98dd-0a01ad3fbb8b" message="response sent to schedules  bapi #[vars.transactionId]"/>
    </flow>
</mule>
